@charset "UTF-8";

.Drawer {
  @at-root {
    & {
      color: $primary-color;
    }
    
    &.-opened {
      .Drawer__nav {
        transform: translate3d(0, 0, 0);
      }

      .Drawer__backdrop {
        visibility: visible;
        opacity: 1;
      }
    }

    .Drawer__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.4s ease-out;
      z-index: 1000;

      @include mq-pc {
        max-width: 320px;
      }
    }

    .Drawer__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.6);
      visibility: hidden;
      opacity: 0;
      transition-property: visibility opacity;
      transition-duration: 0.4s;
      transition-timing-function: ease-out;
    }

    .Drawer__inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .Drawer__menus {
      list-style: none;
      flex: 1 0 auto;
      margin: 0;
      padding: 0.5rem 0;
      background-color: white;      

      & > li {
        margin: 0;

        a {
          display: block;
          padding: 1rem;
          color: $primary-color;
          text-decoration: none;

          &:hover,
          &:focus {
            background-color: lighten($primary-color, 75%);
          }

          &.-active {
            background-color: lighten($primary-color, 70%);
          }
        }
      }
    }
  }
}
